html, body {
    height:100%;
    margin: 0;
    padding: 0;
    font-family: arial;
    font-size: 14px;
}

.nav-list {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-item {
    list-style-type: none;
    margin-right: 1rem;
}

.nav-item a {
    text-decoration: none;
    color: black
}

.nav-item button {
    background-color: #1a73e8;
    color: white;
    padding: 12px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 4px;
    border: none;
}

.nav-item button:hover {
    background-color: #2b7de9;
}

.nav-item a:hover {
    text-decoration: underline;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 86vh;
}

.footer-list {
    padding: 1.25rem 1rem 1.25rem 2rem;
    display: flex;
    justify-content: flex-start;
    background-color: #F2F2F2;
    border-top: 1px solid rgb(214, 211, 211)
}

.footer-item {
    list-style-type: none;
    margin-right: 2rem;
}

.footer-item a {
    text-decoration: none;
    color: grey;
}

.footer-item a:hover {
    text-decoration: underline;
}

.footer-item:nth-child(5) {
    margin-left: auto;
}




